flows.json
[{"id":"3f7174ef.de714c","type":"function","z":"dbd02726.ed9d78","name":"PreToken","func":"global.set(\"rd\",msg.payload.rd)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st\",msg.payload.st)\nvar apikey=\"KzC3pif3KgOJmUJapdH8eQNr6jSsEl9HImuNmEmEFBBd\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":380,"wires":[["6753500e.c794f"]]},{"id":"6753500e.c794f","type":"http request","z":"dbd02726.ed9d78","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":368.9999952316284,"wires":[["9be0e45.381fb18"]]},{"id":"b1d41dd4.3a565","type":"inject","z":"dbd02726.ed9d78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105.5,"y":293.99999809265137,"wires":[["3f7174ef.de714c"]]},{"id":"9a4ae89a.015168","type":"debug","z":"dbd02726.ed9d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":898.0000114440918,"y":110.99999713897705,"wires":[]},{"id":"9be0e45.381fb18","type":"function","z":"dbd02726.ed9d78","name":"Pre Prediction","func":"var rd = global.get('rd')\nvar ad = global.get('ad')\nvar ms = global.get('ms')\nvar st = global.get('st')\nvar token=msg.payload.access_token\nvar instance_id=\"349c11a3-ddf6-4e1f-b5a6-01b8ea28cfd3\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"R&D Spend\", \"Administration\", \"Marketing Spend\", \"State\"], \"values\": [array_of_values_to_be_scored, another_array_of_values_to_be_scored]}]}\nreturn msg;","outputs":1,"noerr":0,"x":656.0000076293945,"y":331.9999990463257,"wires":[["3f3e475a.5692a8"]]},{"id":"3f3e475a.5692a8","type":"http request","z":"dbd02726.ed9d78","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/cf2a2465-f0e5-40eb-a27f-30c952486548/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":275.9999990463257,"wires":[["ebe77e55.dd9bd"]]},{"id":"618748ae.acaea8","type":"ui_form","z":"dbd02726.ed9d78","name":"","label":"","group":"17cac109.b7f17f","order":0,"width":0,"height":0,"options":[{"label":"R&D Spent","value":"rd","type":"number","required":true,"rows":null},{"label":"Administartion","value":"ad","type":"number","required":true,"rows":null},{"label":"Marketing Spent","value":"ms","type":"number","required":true,"rows":null},{"label":"State","value":"st","type":"text","required":true,"rows":null}],"formValue":{"rd":"","ad":"","ms":"","st":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":51,"y":422.9999952316284,"wires":[["3f7174ef.de714c"]]},{"id":"a08497fc.dae9f8","type":"ui_text","z":"dbd02726.ed9d78","group":"17cac109.b7f17f","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":777.6000366210938,"y":428.20000743865967,"wires":[]},{"id":"ebe77e55.dd9bd","type":"function","z":"dbd02726.ed9d78","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":609.6000366210938,"y":171.60000133514404,"wires":[["9a4ae89a.015168","a08497fc.dae9f8"]]},{"id":"17cac109.b7f17f","type":"ui_group","z":"","name":"Default","tab":"5f3560ee.b80c7","order":1,"disp":true,"width":"6","collapse":false},{"id":"5f3560ee.b80c7","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]